/* This is where I can put custom css to overrite the defaults, if I can figure it out */
@import "avenir-next.css";

* {
    font-family: "Avenir Next", sans-serif;
}

body {
    background: #FFFFFF !important;
}

.jumbotron {
    background: #FF686B;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-weight: bold;
}

.name {
    color: #FFFFFF;
}

.panel-default {
    border-color: #3F97CC;
    border-width: 1.25pt;
    background: #BDBDBD;
}

.panel-default > .panel-heading {
    background: #BDBDBD;
}

.panel-default > .panel-body {
    color: #484848;
}

h4.panel-title {
    color: #484848;
    font-weight: bold;
}

.panel-body {
    background: #FFFFFF;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.panel.panel-default {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.panel.panel-default::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.panel.panel-default::before {
    opacity: 1;
}

p.cost-breakdown {
    display: inline;
}

@media (max-width: 768px) {
    div.cost-breakdown {
        text-align: center;
        font-size: 16.5pt;
        font-weight: 500;
    }

    div.cost-breakdown#net {
        font-size: 37.125pt;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    div.cost-breakdown {
        text-align: center;
        font-size: 16.5pt;
        font-weight: 500;
    }

    div.cost-breakdown#net {
        font-size: 55.67pt;
        font-weight: 700;
    }
}

@media (max-width: 576px) {
    div#left, div#right {
        width: 100%;
    }

    div.cost-breakdown {
        text-align: center;
        font-size: 11pt;
        font-weight: 500;
    }

    div.cost-breakdown#net {
        font-size: 24.75pt;
        font-weight: 700;
    }
}

@media (min-width: 576px) {

}


.green {
    color: #84dcc6;
    /*84dcc6*/
}

.red {
    color: #FF686b;
}