{% extends "data_templates/panel.html" %}

{% block panel_title %}Registrations:{% endblock %}
{% block panel_content %}
            {% for event in registration_info %}
                    {{ event.region_name|catch_overall }}:
                    <ul>
                        <li>Attendees checked in: {{ event.num_checked_in }}</li>
                        <li>Attendees registered: {{ event.num_registered }}</li>
                        <li>% No-Show: {{ "{:.2f}%".format((1 - (event.num_checked_in/event.num_registered)) * 100) }}</li>
                    </ul>
                <hr>
            {% endfor %}
{% endblock %}
